*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html, body, #root{
  height: 100%;
  width: 100%;
  background-color:whitesmoke;
}


/* Navbar */
.NavBar{
  height: 5%;
  width: 100%;
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #91818A;
  

}

/* main content*/
.MainComponent{
  height:90%;
  width: 100%;
  background-color:white;
  justify-content: center;
  align-items: center;
  

}
/* Footer */
.Footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 5%;
  width: 100%;
  background-color: #91818A;
  padding: 30px;
}